{% extends "base.html" %}
{% block title %}关于我，关于这个网站{% endblock %}
{% block customstyle %}
<style>
    .am-u-lg-7{
        width:100%;
    }
    p{
        font-size:13px;
    }
</style>
{% endblock %}
{% block content %}
<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8">
    <article class="blog-main">
      <div class="am-g blog-content">
        <div class="am-u-lg-7">
            {% autoescape off %}
            <h3>关于</h3>
            <p>这个网站的最初的想法源自一家我只工作了几天的电子行业媒体，对于该媒体为数庞大（就我简短的观察有将近一百人）的基层编辑来说，每天所有的工作就是从别的网站上复制文章，贴到自己的网站上，再根据文章的内容放到各种推荐位上。原创？根本没有那个时间，那家公司的高层确实也不在乎。</p>
            <p>即使当时我完全不会编程，我也能想到，这些工作明明完全可以交给程序来做。后来在我离开媒体行业之后，就自学了Python，写了一个爬虫，搭建起了这样一个能自动更新内容的网站。最初的版本用的是WordPress，爬虫从各大门户网站爬取新闻，再用Wordpress的xmlrpc接口更新文章。让当时的我还有一点小骄傲的是：我写了一个能用的算法，能从一个文章页面的HTML代码里中找出正文部分并提取出来，这样，就不需要在找到每一个新网站之后再针对这个新网站来写一个提取规则了</p>
            <p>当然，所有人都可以合理的质疑：以网站的文章来源之窄，即使针对每个网站都定制一个规则，也不会麻烦到哪里去，反观这种“智能识别”的算法，面对千奇百怪的HTML页面格式，维护它所需要的时间成本未必就比针对每个网站来设计要低。</p>
            <p>而且，就算网站的所有功能都正常使用，也没有什么意义。新闻媒体、门户网站的衰落不是第一天出现的趋势了，也不只在中国有出现。那家公司能维持一两百人规模的运转，自然不是因为它更新文章的策略有多有创意、多有诚意。而一个只有浏览文章功能，文章还不是自己原创的网站，别人根本没有任何理由来看你，而不是去看那些文章的源头所在的网站</p>
            <p>不过呢，我还是用Django把这个网站重写了一遍，就像在简要版本里说的那样，我会逐步向这里添加新的功能，想看看一个人维护一个网站的极限在哪里。另外，说不定新闻数据积累到一定程度也能挖掘出一些价值呢？</p>
            {% endautoescape %}
        </div>
        <!--<div class="am-u-lg-5">-->
          <!--<p><img src="http://f.cl.ly/items/451O3X0g47320D203D1B/不夠活潑.jpg"></p>-->
        <!--</div>-->
      </div>
    </article>
  </div>
</div>
{% endblock %}
