{% extends "base.html" %}
{% block title %}主页{% endblock %}
{% block customstyle %}
<style>
	.am-u-lg-7{
		width:90%;
	}
</style>
{% endblock %}
{% block content %}
<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8">
    {% for articlecontent in articles %}
    <article class="blog-main">
      <h3 class="am-article-title blog-title">
        <a href="/article/{{articlecontent.5}}">{{articlecontent.0}}</a>
      </h3>
      <h4 class="am-article-meta blog-meta">原文发布于 {{articlecontent.2}} (自动检测结果)</h4>
      <div class="am-g blog-content">
        <div class="am-u-lg-7">
            {% autoescape off %}
            {{articlecontent.3}}
            {% endautoescape %}
        </div>
        <!--<div class="am-u-lg-5">-->
          <!--<p><img src="http://f.cl.ly/items/451O3X0g47320D203D1B/不夠活潑.jpg"></p>-->
        <!--</div>-->
      </div>
    </article>
    <hr class="am-article-divider blog-hr">
    {% endfor %}
  </div>
	<!-- 侧栏-->
  <div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">关于我</div>
        <div class="am-panel-bd">
          <p>这是一个实验，想看看在现代各类高级语言和方便工具的帮助下，由一个人运行的新闻网站能复杂到什么程度</p>
          <a class="am-btn am-btn-success am-btn-sm" href="/about">查看更多 →</a>
        </div>
      </section>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">发现</div>
        <ul class="am-list blog-list">
          {% for each in recommend %}
          <li><a href="article/{{each.0}}">{{each.0}}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
</div>
<!--侧栏-->
{% endblock %}


